nifi_telematics.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>9ee0d475-0161-1000-bd2e-c92c858385e7</groupId>
  <name>nifi_telematics</name>
  <snippet>
    <connections>
      <id>8cbdd0b6-3d73-31d5-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>ca4c209f-8bc5-3d77-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>11268b58-52e8-3333-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>942ac60c-f0b2-375a-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>a84bbf5e-11a4-37eb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>013dd445-e065-3e5a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>94d83a1f-b65f-3aac-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>54d0c80b-7a2c-3ac2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>unmatched</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>eae4dd0f-c67a-3db1-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>abe687c9-f165-354a-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>77942f8c-fa24-31c5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>11268b58-52e8-3333-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>bcf04c6b-c9f5-3161-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>c14e8672-bbad-3920-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>unmatched</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>72f39229-f6f5-357b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>d77f24bb-a3f8-3e73-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>2846.4266792995145</x>
        <y>298.3234977502166</y>
      </bends>
      <bends>
        <x>2846.4266792995145</x>
        <y>348.3234977502166</y>
      </bends>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>aa3257a0-625b-3fdb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>aa3257a0-625b-3fdb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f62bd485-650d-3a82-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>013dd445-e065-3e5a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>aa3257a0-625b-3fdb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f8505b09-b4b0-3686-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>eae4dd0f-c67a-3db1-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>498c5fa0-619d-364e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fd8af864-b4db-31a7-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>884.405332576383</x>
        <y>681.4354674377457</y>
      </bends>
      <bends>
        <x>884.405332576383</x>
        <y>731.4354674377457</y>
      </bends>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>54d0c80b-7a2c-3ac2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>54d0c80b-7a2c-3ac2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0d931db0-5bf0-3213-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1998.5555400959142</x>
        <y>689.901364044191</y>
      </bends>
      <bends>
        <x>1998.5555400959142</x>
        <y>739.901364044191</y>
      </bends>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>c14e8672-bbad-3920-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>c14e8672-bbad-3920-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0ebbbceb-2df5-3fe4-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>72f39229-f6f5-357b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>ca4c209f-8bc5-3d77-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>44d9e71d-2e3a-3418-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>aa3257a0-625b-3fdb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>3910a2d1-2805-34dc-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>48e2f613-43ca-366f-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>ed7c1835-7ded-3309-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>unmatched</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>eae4dd0f-c67a-3db1-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>5ab73f8d-e92f-3c38-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>3463.119042790269</x>
        <y>485.4677146138812</y>
      </bends>
      <bends>
        <x>3463.119042790269</x>
        <y>535.4677146138812</y>
      </bends>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>4cf20ddb-4fcc-3903-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>4cf20ddb-4fcc-3903-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>607bf5ae-f77a-3608-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>498c5fa0-619d-364e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>689aa332-e6db-3ff3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>6ed38190-f497-3540-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>2848.870724848059</x>
        <y>686.6827702686946</y>
      </bends>
      <bends>
        <x>2848.870724848059</x>
        <y>736.6827702686946</y>
      </bends>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>a84bbf5e-11a4-37eb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>a84bbf5e-11a4-37eb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>700f054e-9c0d-3de1-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>4cf20ddb-4fcc-3903-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f2faa52f-e588-370b-0000-000000000000</groupId>
        <id>013dd445-e065-3e5a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>f508fe91-e47b-3621-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-hwx-schema-registry-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>url</key>
          <value>
            <name>url</name>
          </value>
        </entry>
        <entry>
          <key>cache-size</key>
          <value>
            <name>cache-size</name>
          </value>
        </entry>
        <entry>
          <key>cache-expiration</key>
          <value>
            <name>cache-expiration</name>
          </value>
        </entry>
      </descriptors>
      <name>HortonworksSchemaRegistry</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>url</key>
          <value>http://dzaratsian0.hortonworks.com:8010</value>
        </entry>
        <entry>
          <key>cache-size</key>
          <value>1000</value>
        </entry>
        <entry>
          <key>cache-expiration</key>
          <value>1 hour</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
    </controllerServices>
    <controllerServices>
      <id>f7fc9d2f-c07f-345b-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
      </descriptors>
      <name>JsonPathReader</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-content-encoded-schema</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>f508fe91-e47b-3621-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>schema1</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>{
     "type": "record",
     "namespace": "com.example",
     "name": "FullName",
     "fields": [
       { "name": "first", "type": "string" },
       { "name": "last", "type": "string" }
     ]
} </value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
      </properties>
      <state>DISABLED</state>
      <type>org.apache.nifi.json.JsonPathReader</type>
    </controllerServices>
    <controllerServices>
      <id>0f5e4dfe-dc95-343f-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>compression-format</key>
          <value>
            <name>compression-format</name>
          </value>
        </entry>
      </descriptors>
      <name>AvroRecordSetWriter</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>avro-embedded</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>inherit-record-schema</value>
        </entry>
        <entry>
          <key>schema-registry</key>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>compression-format</key>
          <value>NONE</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
    </controllerServices>
    <processors>
      <id>a84bbf5e-11a4-37eb-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>2393.870724848059</x>
        <y>646.6827702686946</y>
      </position>
      <bundle>
        <artifact>nifi-esp-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>host</key>
            <value>
              <name>host</name>
            </value>
          </entry>
          <entry>
            <key>port</key>
            <value>
              <name>port</name>
            </value>
          </entry>
          <entry>
            <key>project</key>
            <value>
              <name>project</name>
            </value>
          </entry>
          <entry>
            <key>contquery</key>
            <value>
              <name>contquery</name>
            </value>
          </entry>
          <entry>
            <key>window</key>
            <value>
              <name>window</name>
            </value>
          </entry>
          <entry>
            <key>schema</key>
            <value>
              <name>schema</name>
            </value>
          </entry>
          <entry>
            <key>blocksize</key>
            <value>
              <name>blocksize</name>
            </value>
          </entry>
          <entry>
            <key>dateformat</key>
            <value>
              <name>dateformat</name>
            </value>
          </entry>
          <entry>
            <key>insertsToUpserts</key>
            <value>
              <name>insertsToUpserts</name>
            </value>
          </entry>
          <entry>
            <key>authUser</key>
            <value>
              <name>authUser</name>
            </value>
          </entry>
          <entry>
            <key>oauthToken</key>
            <value>
              <name>oauthToken</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>host</key>
            <value>http://zaratsian.hortonworks.com</value>
          </entry>
          <entry>
            <key>port</key>
            <value>5100</value>
          </entry>
          <entry>
            <key>project</key>
            <value>sas_esp_project1</value>
          </entry>
          <entry>
            <key>contquery</key>
            <value>cq1</value>
          </entry>
          <entry>
            <key>window</key>
            <value>from_nifi</value>
          </entry>
          <entry>
            <key>schema</key>
            <value>schema1</value>
          </entry>
          <entry>
            <key>blocksize</key>
          </entry>
          <entry>
            <key>dateformat</key>
          </entry>
          <entry>
            <key>insertsToUpserts</key>
            <value>no</value>
          </entry>
          <entry>
            <key>authUser</key>
          </entry>
          <entry>
            <key>oauthToken</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutESP</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>com.sas.nifi.processors.esp.PutESP</type>
    </processors>
    <processors>
      <id>aa3257a0-625b-3fdb-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>2391.4266792995145</x>
        <y>258.3234977502166</y>
      </position>
      <bundle>
        <artifact>nifi-scripting-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Script Engine</key>
            <value>
              <name>Script Engine</name>
            </value>
          </entry>
          <entry>
            <key>Script File</key>
            <value>
              <name>Script File</name>
            </value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>
              <name>Script Body</name>
            </value>
          </entry>
          <entry>
            <key>Module Directory</key>
            <value>
              <name>Module Directory</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Script Engine</key>
            <value>python</value>
          </entry>
          <entry>
            <key>Script File</key>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>
from org.apache.commons.io import IOUtils
from java.nio.charset import StandardCharsets
from org.apache.nifi.processor.io import StreamCallback

import re,sys
import json
import datetime,time
import random

class PyStreamCallback(StreamCallback):
  def __init__(self): pass
  def process(self, instream, outstream):
    
    # To read content as a string:
    data = IOUtils.toString(instream, StandardCharsets.UTF_8)
    
    output = {}
    
    datetimestamp = datetime.datetime.now()
    
    output['id']        = datetimestamp.strftime('%Y%m%d_%H%M%S')
    output['datetime']  = datetimestamp.strftime('%Y-%m-%d %H:%M:%S')
    output['fault_code'] = random.choice(['P00FQ','P01XY','P02MN','P03YT','P04XP','P05SZ','P06MG','P007DS','P08ZA'])
    output['duration']  = round(random.triangular(1,150,1),2)
    output['speed']     = int(round(random.triangular(1,100,45),0))
    output['engine_temp'] = round(random.triangular(-40,215,180),2)
    output['rpm'] = int(round(random.triangular(1000,3000,16000),0))
    output['action']    = random.choice(['TRUE']*1 + ['FALSE']*5)   # True/False ratio of 1:5
    output['flag1'] = int(round(random.random()))
    output['flag2'] = int(round(random.random()))
    output['flag3'] = int(round(random.random()))
    
    # Generate CSV output based on "output", which is in JSON
    output_csv = ','.join([ output['id'], output['datetime'], output['fault_code'], str(output['duration']), str(output['speed']), str(output['engine_temp']), str(output['rpm']), str(output['action']), str(output['flag1']), str(output['flag2']), str(output['flag3']) ])
    
    # Write modified content
    outstream.write(str(output_csv))


flowfile = session.get()


if (flowfile != None):
    
    time.sleep(1)
    
    # Read FlowFile Attribute
    # myVar = flowfile.getAttribute('filename')
    
    # Write variable/values to FlowFile Attributes
    #flowFile = session.putAttribute(flowFile, "from_python_string", "python string example")
    #flowFile = session.putAttribute(flowFile, "from_python_number", str(new_value))
    
    # Write data to FlowFile
    flowfile = session.write(flowfile, PyStreamCallback())
    session.transfer(flowfile, REL_SUCCESS)


#ZEND</value>
          </entry>
          <entry>
            <key>Module Directory</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Data Transformations</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>RUNNING</state>
      <style></style>
      <type>org.apache.nifi.processors.script.ExecuteScript</type>
    </processors>
    <processors>
      <id>c14e8672-bbad-3920-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>1543.5555400959142</x>
        <y>649.901364044191</y>
      </position>
      <bundle>
        <artifact>nifi-esp-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>host</key>
            <value>
              <name>host</name>
            </value>
          </entry>
          <entry>
            <key>port</key>
            <value>
              <name>port</name>
            </value>
          </entry>
          <entry>
            <key>project</key>
            <value>
              <name>project</name>
            </value>
          </entry>
          <entry>
            <key>contquery</key>
            <value>
              <name>contquery</name>
            </value>
          </entry>
          <entry>
            <key>window</key>
            <value>
              <name>window</name>
            </value>
          </entry>
          <entry>
            <key>schema</key>
            <value>
              <name>schema</name>
            </value>
          </entry>
          <entry>
            <key>blocksize</key>
            <value>
              <name>blocksize</name>
            </value>
          </entry>
          <entry>
            <key>dateformat</key>
            <value>
              <name>dateformat</name>
            </value>
          </entry>
          <entry>
            <key>insertsToUpserts</key>
            <value>
              <name>insertsToUpserts</name>
            </value>
          </entry>
          <entry>
            <key>authUser</key>
            <value>
              <name>authUser</name>
            </value>
          </entry>
          <entry>
            <key>oauthToken</key>
            <value>
              <name>oauthToken</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>host</key>
            <value>http://zaratsian.hortonworks.com</value>
          </entry>
          <entry>
            <key>port</key>
            <value>5100</value>
          </entry>
          <entry>
            <key>project</key>
            <value>sas_esp_project1</value>
          </entry>
          <entry>
            <key>contquery</key>
            <value>cq1</value>
          </entry>
          <entry>
            <key>window</key>
            <value>from_nifi</value>
          </entry>
          <entry>
            <key>schema</key>
            <value>schema1</value>
          </entry>
          <entry>
            <key>blocksize</key>
          </entry>
          <entry>
            <key>dateformat</key>
          </entry>
          <entry>
            <key>insertsToUpserts</key>
            <value>no</value>
          </entry>
          <entry>
            <key>authUser</key>
          </entry>
          <entry>
            <key>oauthToken</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutESP</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>com.sas.nifi.processors.esp.PutESP</type>
    </processors>
    <processors>
      <id>ca4c209f-8bc5-3d77-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>1539.2021674988723</x>
        <y>226.7900099666706</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>
              <name>Return Type</name>
            </value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>
              <name>Path Not Found Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>auto-detect</value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>ignore</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>EvaluateJsonPath</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
    </processors>
    <processors>
      <id>eae4dd0f-c67a-3db1-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>219.87822684096568</x>
        <y>416.5755428165837</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to Property name</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>RouteOnAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>ed7c1835-7ded-3309-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>641.4839995306208</y>
      </position>
      <bundle>
        <artifact>nifi-hadoop-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/tmp</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>013dd445-e065-3e5a-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>2391.9994349245458</x>
        <y>441.3155003685183</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
          <entry>
            <key>kafka.topic</key>
            <value>
              <name>kafka.topic</name>
            </value>
          </entry>
          <entry>
            <key>schema.name</key>
            <value>
              <name>schema.name</name>
            </value>
          </entry>
          <entry>
            <key>vin</key>
            <value>
              <name>vin</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Do not store state</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
          </entry>
          <entry>
            <key>kafka.topic</key>
            <value>obd2_stream</value>
          </entry>
          <entry>
            <key>schema.name</key>
            <value>obd2_stream</value>
          </entry>
          <entry>
            <key>vin</key>
            <value>2B3KA43G78H272754</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>RUNNING</state>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>11268b58-52e8-3333-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>1536.3076847631123</x>
        <y>19.468910428209284</y>
      </position>
      <bundle>
        <artifact>nifi-kafka-0-11-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>bootstrap.servers</key>
            <value>
              <name>bootstrap.servers</name>
            </value>
          </entry>
          <entry>
            <key>topic</key>
            <value>
              <name>topic</name>
            </value>
          </entry>
          <entry>
            <key>topic_type</key>
            <value>
              <name>topic_type</name>
            </value>
          </entry>
          <entry>
            <key>record-reader</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
              <name>record-reader</name>
            </value>
          </entry>
          <entry>
            <key>record-writer</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
              <name>record-writer</name>
            </value>
          </entry>
          <entry>
            <key>honor-transactions</key>
            <value>
              <name>honor-transactions</name>
            </value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>
              <name>security.protocol</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
            <value>
              <name>sasl.kerberos.service.name</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.principal</key>
            <value>
              <name>sasl.kerberos.principal</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.keytab</key>
            <value>
              <name>sasl.kerberos.keytab</name>
            </value>
          </entry>
          <entry>
            <key>ssl.context.service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>ssl.context.service</name>
            </value>
          </entry>
          <entry>
            <key>group.id</key>
            <value>
              <name>group.id</name>
            </value>
          </entry>
          <entry>
            <key>auto.offset.reset</key>
            <value>
              <name>auto.offset.reset</name>
            </value>
          </entry>
          <entry>
            <key>message-header-encoding</key>
            <value>
              <name>message-header-encoding</name>
            </value>
          </entry>
          <entry>
            <key>header-name-regex</key>
            <value>
              <name>header-name-regex</name>
            </value>
          </entry>
          <entry>
            <key>max.poll.records</key>
            <value>
              <name>max.poll.records</name>
            </value>
          </entry>
          <entry>
            <key>max-uncommit-offset-wait</key>
            <value>
              <name>max-uncommit-offset-wait</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>bootstrap.servers</key>
            <value>localhost:9092</value>
          </entry>
          <entry>
            <key>topic</key>
            <value>topic1</value>
          </entry>
          <entry>
            <key>topic_type</key>
            <value>names</value>
          </entry>
          <entry>
            <key>record-reader</key>
            <value>f7fc9d2f-c07f-345b-0000-000000000000</value>
          </entry>
          <entry>
            <key>record-writer</key>
            <value>0f5e4dfe-dc95-343f-0000-000000000000</value>
          </entry>
          <entry>
            <key>honor-transactions</key>
            <value>true</value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>PLAINTEXT</value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
          </entry>
          <entry>
            <key>sasl.kerberos.principal</key>
          </entry>
          <entry>
            <key>sasl.kerberos.keytab</key>
          </entry>
          <entry>
            <key>ssl.context.service</key>
          </entry>
          <entry>
            <key>group.id</key>
            <value>1</value>
          </entry>
          <entry>
            <key>auto.offset.reset</key>
            <value>latest</value>
          </entry>
          <entry>
            <key>message-header-encoding</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>header-name-regex</key>
          </entry>
          <entry>
            <key>max.poll.records</key>
            <value>10000</value>
          </entry>
          <entry>
            <key>max-uncommit-offset-wait</key>
            <value>1 secs</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConsumeKafkaRecord_0_11</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>parse.failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>DISABLED</state>
      <style></style>
      <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_0_11</type>
    </processors>
    <processors>
      <id>3910a2d1-2805-34dc-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>2390.510279232904</x>
        <y>74.74416790083092</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>File Size</key>
            <value>
              <name>File Size</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>
              <name>Data Format</name>
            </value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>
              <name>Unique FlowFiles</name>
            </value>
          </entry>
          <entry>
            <key>generate-ff-custom-text</key>
            <value>
              <name>generate-ff-custom-text</name>
            </value>
          </entry>
          <entry>
            <key>character-set</key>
            <value>
              <name>character-set</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File Size</key>
            <value>0B</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>false</value>
          </entry>
          <entry>
            <key>generate-ff-custom-text</key>
          </entry>
          <entry>
            <key>character-set</key>
            <value>UTF-8</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Telematics Feed (trigger)</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>RUNNING</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
    </processors>
    <processors>
      <id>498c5fa0-619d-364e-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>217.48079298715356</x>
        <y>207.64033650475653</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>
              <name>Return Type</name>
            </value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>
              <name>Path Not Found Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>auto-detect</value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>ignore</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>EvaluateJsonPath</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
    </processors>
    <processors>
      <id>4cf20ddb-4fcc-3903-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>3008.119042790269</x>
        <y>445.4677146138812</y>
      </position>
      <bundle>
        <artifact>nifi-hadoop-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/tmp</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>54d0c80b-7a2c-3ac2-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>429.405332576383</x>
        <y>641.4354674377457</y>
      </position>
      <bundle>
        <artifact>nifi-esp-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>host</key>
            <value>
              <name>host</name>
            </value>
          </entry>
          <entry>
            <key>port</key>
            <value>
              <name>port</name>
            </value>
          </entry>
          <entry>
            <key>project</key>
            <value>
              <name>project</name>
            </value>
          </entry>
          <entry>
            <key>contquery</key>
            <value>
              <name>contquery</name>
            </value>
          </entry>
          <entry>
            <key>window</key>
            <value>
              <name>window</name>
            </value>
          </entry>
          <entry>
            <key>schema</key>
            <value>
              <name>schema</name>
            </value>
          </entry>
          <entry>
            <key>blocksize</key>
            <value>
              <name>blocksize</name>
            </value>
          </entry>
          <entry>
            <key>dateformat</key>
            <value>
              <name>dateformat</name>
            </value>
          </entry>
          <entry>
            <key>insertsToUpserts</key>
            <value>
              <name>insertsToUpserts</name>
            </value>
          </entry>
          <entry>
            <key>authUser</key>
            <value>
              <name>authUser</name>
            </value>
          </entry>
          <entry>
            <key>oauthToken</key>
            <value>
              <name>oauthToken</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>host</key>
            <value>http://zaratsian.hortonworks.com</value>
          </entry>
          <entry>
            <key>port</key>
            <value>5100</value>
          </entry>
          <entry>
            <key>project</key>
            <value>sas_esp_project1</value>
          </entry>
          <entry>
            <key>contquery</key>
            <value>cq1</value>
          </entry>
          <entry>
            <key>window</key>
            <value>from_nifi</value>
          </entry>
          <entry>
            <key>schema</key>
            <value>schema1</value>
          </entry>
          <entry>
            <key>blocksize</key>
          </entry>
          <entry>
            <key>dateformat</key>
          </entry>
          <entry>
            <key>insertsToUpserts</key>
            <value>no</value>
          </entry>
          <entry>
            <key>authUser</key>
          </entry>
          <entry>
            <key>oauthToken</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutESP</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>com.sas.nifi.processors.esp.PutESP</type>
    </processors>
    <processors>
      <id>689aa332-e6db-3ff3-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>215.92463031454736</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <name>Keep Source File</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <name>Polling Interval</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/tmp/</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>odb2_extract1.txt</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFile (Logs)</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>72f39229-f6f5-357b-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>1541.5996013526844</x>
        <y>435.7252162784978</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to Property name</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>RouteOnAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>77942f8c-fa24-31c5-0000-000000000000</id>
      <parentGroupId>f2faa52f-e588-370b-0000-000000000000</parentGroupId>
      <position>
        <x>1116.0294799804688</x>
        <y>225.71385792905835</y>
      </position>
      <bundle>
        <artifact>nifi-hadoop-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/tmp</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
  </snippet>
  <timestamp>02/19/2018 09:49:40 EST</timestamp>
</template>